@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", var(--font-sans);
}

.navbar-bg{
    background-color: rgba(124, 124, 124, 0.333);
    backdrop-filter: blur(10px);
}
.light-glassmorphism{
    background-color: rgba(239, 239, 239, 0.333);
    backdrop-filter: blur(10px);
}
::-webkit-scrollbar {
  display: none;
}

@theme {
  /* fonts */
  --font-display: "Outfit", "sans-serif";

  /* breakpoints */
  /* --breakpoint-3xl: 1920px; */
  --breakpoint-s_phone: 319px;
  --breakpoint-m_phone: 374px;
  --breakpoint-phone: 424px;
  --breakpoint-tablet: 767px;
  --breakpoint-laptop-sm: 900px;
  --breakpoint-laptop: 1023px;
  --breakpoint-laptop-lg: 1366px;
  --breakpoint-desktop: 1439px;
  --breakpoint-_4kk: 1920px;
}


.blue_shadow_effect {
  background: #131e4e; /* soft gray */
 box-shadow:  inset 0px 5px 10px rgba(0, 0, 0, 0.6),   /* bottom inner shadow */
  inset 0px -5px 10px rgba(39, 63, 159, 0.5); /* top inner shadow */
  border: none;
}

.blue_bg_effect {
  background: #131e4e; /* soft gray */
  box-shadow: -1px -1px 5px 0px rgba(39, 63, 159, 0.653),
   5px 5px 10px 1px rgb(0, 0, 0);
  border: none;
}